<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RegistroTecnico</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <!-- Home -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill fs-5"></span> 
                <span class="flex-grow-1">Home</span>
            </NavLink>
        </div>

        <!-- Técnicos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/Tecnicos/IndexTecnicos">
                <span class="bi bi-wrench-adjustable fs-5"></span> 
                <span class="flex-grow-1">Lista de Técnicos</span>
            </NavLink>
        </div>

        <!-- Clientes -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/Clientes/IndexClientes">
                <span class="bi bi-person fs-5"></span> 
                <span class="flex-grow-1">Lista de Clientes</span>
            </NavLink>
        </div>

        <!-- Ciudades -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/Ciudad/IndexCiudad">
                <span class="bi bi-buildings fs-5"></span> 
                <span class="flex-grow-1">Lista de Ciudades</span>
            </NavLink>
        </div>

        <!-- Tickets -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/Tickets/IndexTickets">
                <span class="bi bi-ticket-detailed fs-5"></span> 
                <span class="flex-grow-1">Lista de Tickets</span>
            </NavLink>
        </div>
        <!-- Sistemas -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center p-2" href="/Sistemas/IndexSistemas" activeClass="active">
                <span class="bi bi-laptop fs-5"></span>
                <span class="flex-grow-1">Sistemas</span>
            </NavLink>
        </div>
    </nav>
</div>
